{% extends 'mahasiswa/base.html' %}

{% block content %}
<div style="padding: 20px;">
    <h2>Daftar Buku</h2>
    <a href="{% url 'tambah_buku' %}">[+] Tambah Buku Baru</a>
    <br><br>
    
    <table border="1" cellpadding="5" cellspacing="0">
        <tr style="background-color: #f2f2f2;">
            <th>Judul Buku</th>
            <th>Penulis</th>
            <th>Penerbit</th>
            <th>Tahun Terbit</th>
            <th>Aksi</th>
        </tr>
        {% for buku in list_buku %}
        <tr>
            <td>{{ buku.judul }}</td>
            <td>{{ buku.penulis }}</td>
            <td>{{ buku.penerbit }}</td>
            <td>{{ buku.tahun_terbit }}</td>
            <td>
                <a href="{% url 'edit_buku' buku.pk %}">Edit</a> | 
                <a href="{% url 'hapus_buku' buku.pk %}">Hapus</a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="5" style="text-align: center;">Belum ada data buku.</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}